.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: #E6E8EC;
    padding: 15px;
    align-items: center;
}

.links {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.link-g {
    background-color: #1B1F23;
    border-style: none;
    border-radius: 4px;
    padding: 10px;
    color: white;
}

.links:hover {
    color: rgb(58, 140, 233);
}

.link-g:hover {
    color: rgb(58, 140, 233);
}



