.Seccion {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    background-color: #1B1F23;
    padding-bottom: 55px;
}

.Seccion div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    border-radius: 0% 0% 75% 75%;
    background-color: #E6E8EC;
}

.Seccion div img {
    width: 25%;
    margin: auto;
}

.toRegister {
    text-decoration: none;
    padding: 15px;
    font-size: 22px;
    border-style: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    background-color: #1B1F23;
    animation: move 3s infinite alternate;
    margin-bottom: 25px;
    margin-top: 25px;
}

.toRegister:hover {
    color: rgb(58, 140, 233);
}

/*Keyframe*/

@keyframes move {
    from  {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}